---
http_interactions:
- request:
    method: get
    uri: https://us16.api.mailchimp.com/3.0/lists/fcd2925136/members/f169f2112ef4e6341653a17e91f72a2f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YQo=
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us16.api.mailchimp.com/schema/3.0/ProblemDetailDocument.json>; rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"type":"http://developer.mailchimp.com/documentation/mailchimp/guides/error-glossary/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":"bb1f25a5-d2db-4d3d-b7c1-c282e8e34f82"}'
  recorded_at: Tue, 07 May 2019 14:03:14 GMT
recorded_with: VCR 2.9.3
