---
http_interactions:
- request:
    method: get
    uri: https://us16.api.mailchimp.com/3.0/lists//members/4e58a837c85b99821524ce56a2901101
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Yzg5NTgzYzJiMjM4ZDdhYWE2ZGYzZTQzMDdiYjY4YzEtdXMxNg==
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us16.api.mailchimp.com/schema/3.0/ProblemDetailDocument.json>; rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"type":"http://developer.mailchimp.com/documentation/mailchimp/guides/error-glossary/","title":"Resource
        Not Found","status":404,"detail":"Invalid path","instance":"221dd0ac-2f13-455d-a680-1c05ca797d30"}'
  recorded_at: Tue, 07 May 2019 14:03:12 GMT
recorded_with: VCR 2.9.3
