---
http_interactions:
- request:
    method: post
    uri: https://us16.api.mailchimp.com/3.0/ecommerce/stores
    body:
      encoding: UTF-8
      string: '{"id":"test_store_1","list_id":"fcd2925136","name":"test_store_1","email_address":"jyucis@weblinc.com","currency_code":"USD"}'
    headers:
      Authorization:
      - Basic YQo=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us16.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Instance.json>;
        rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"id":"test_store_1","list_id":"fcd2925136","name":"test_store_1","platform":"","domain":"","is_syncing":false,"email_address":"jyucis@weblinc.com","currency_code":"USD","money_format":"","primary_locale":"","timezone":"","phone":"","address":{"address1":"","address2":"","city":"","province":"","province_code":"","postal_code":"","country":"","country_code":"","longitude":0,"latitude":0},"connected_site":{"site_foreign_id":"test_store_1","site_script":{"url":"https://chimpstatic.com/mcjs-connected/js/users/c40efe870eb1bc94745f06b1b/732b42fdabdbf3525d6e9e71b.js","fragment":"<script
        id=\"mcjs\">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,\"script\",\"https://chimpstatic.com/mcjs-connected/js/users/c40efe870eb1bc94745f06b1b/732b42fdabdbf3525d6e9e71b.js\");</script>"}},"automations":{"abandoned_cart":{"is_supported":true},"abandoned_browse":{"is_supported":false}},"list_is_active":true,"created_at":"2019-05-07T14:15:46+00:00","updated_at":"2019-05-07T14:15:46+00:00","_links":[{"rel":"self","href":"https://us16.api.mailchimp.com/3.0/ecommerce/stores/test_store_1","method":"GET","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Response.json"},{"rel":"parent","href":"https://us16.api.mailchimp.com/3.0/ecommerce/stores","method":"GET","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/CollectionResponse.json"},{"rel":"update","href":"https://us16.api.mailchimp.com/3.0/ecommerce/stores/test_store_1","method":"PATCH","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Response.json","schema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/PATCH.json"},{"rel":"delete","href":"https://us16.api.mailchimp.com/3.0/ecommerce/stores/test_store_1","method":"DELETE"},{"rel":"customers","href":"https://us16.api.mailchimp.com/3.0/ecommerce/stores/test_store_1/customers","method":"GET","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Customers/CollectionResponse.json"},{"rel":"products","href":"https://us16.api.mailchimp.com/3.0/ecommerce/stores/test_store_1/products","method":"GET","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/CollectionResponse.json"},{"rel":"promo-rules","href":"https://us16.api.mailchimp.com/3.0/ecommerce/stores/test_store_1/promo-rules","method":"GET","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Promorules/CollectionResponse.json"},{"rel":"orders","href":"https://us16.api.mailchimp.com/3.0/ecommerce/stores/test_store_1/orders","method":"GET","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Orders/CollectionResponse.json"},{"rel":"carts","href":"https://us16.api.mailchimp.com/3.0/ecommerce/stores/test_store_1/carts","method":"GET","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Carts/CollectionResponse.json"}]}'
  recorded_at: Tue, 07 May 2019 14:15:46 GMT
- request:
    method: post
    uri: https://us16.api.mailchimp.com/3.0/ecommerce/stores/test_store_1/products
    body:
      encoding: UTF-8
      string: '{"id":"mc_p_12345","title":"MC Integration Product","handle":"mc-integration-product","url":"http://www.example.com/products/mc-integration-product","description":"","image_url":"www.example.com/product_images/placeholder/small_thumb.jpg?c=1557238540","variants":[{"id":"SKU1","title":"SKU1","sku":"SKU1","price":"5.0","inventory_quantity":2,"visibility":"true"},{"id":"SKU2","title":"SKU2","sku":"SKU2","price":"6.0","inventory_quantity":99999,"visibility":"true"}]}'
    headers:
      Authorization:
      - Basic YQo=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us16.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Instance.json>;
        rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"id":"mc_p_12345","title":"MC Integration Product","handle":"mc-integration-product","url":"http://www.example.com/products/mc-integration-product","description":"","type":"","vendor":"","image_url":"www.example.com/product_images/placeholder/small_thumb.jpg?c=1557238540","variants":[{"id":"SKU1","title":"SKU1","url":"","sku":"SKU1","price":5,"inventory_quantity":2,"image_url":"","backorders":"","visibility":"true","created_at":"2019-05-07T14:15:47+00:00","updated_at":"2019-05-07T14:15:47+00:00","_links":[{"rel":"self","href":"https://us16.api.mailchimp.com/3.0/ecommerce/stores/test_store_1/products/mc_p_12345/variants/SKU1","method":"GET","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/Response.json"},{"rel":"parent","href":"https://us16.api.mailchimp.com/3.0/ecommerce/stores/test_store_1/products/mc_p_12345","method":"GET","t[...]
- request:
    method: post
    uri: https://us16.api.mailchimp.com/3.0/ecommerce/stores/test_store_1/orders
    body:
      encoding: UTF-8
      string: '{"id":"mc_1234","financial_status":"","fulfillment_status":"","currency_code":"USD","order_total":"11.00","tax_total":"0.00","shipping_total":"1.00","processed_at_foreign":"2019-05-07T14:15:51+00:00","shipping_address":{"name":"Ben
        Crouse","address1":"22 S. 3rd St.","address2":"Second Floor","city":"Philadelphia","province":"PA","postal_code":"19106","country":"US","phone":"","company":""},"billing_address":{"name":"Ben
        Crouse","address1":"22 S. 3rd St.","address2":"Second Floor","city":"Philadelphia","province":"PA","postal_code":"19106","country":"US","phone":"","company":""},"lines":[{"id":"5cd19313987b47e7991733e0","product_id":"mc_p_12345","product_variant_id":"SKU1","quantity":2,"price":"10.00"}],"customer":{"id":"082103c87993f6a0ac42d2b80a65e896","email_address":"bcrouse-new@workarea.com","opt_in_status":false,"orders_count":1,"total_spent":"11.00","first_name":"Ben","last_name":"Crouse"}}'
    headers:
      Authorization:
      - Basic YQo=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us16.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Orders/Instance.json>;
        rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"id":"mc_1234","customer":{"id":"082103c87993f6a0ac42d2b80a65e896","email_address"[...]
- request:
    method: delete
    uri: https://us16.api.mailchimp.com/3.0/ecommerce/stores/test_store_1/carts/mc_1234
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YQo=
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us16.api.mailchimp.com/schema/3.0/ProblemDetailDocument.json>; rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"type":"http://developer.mailchimp.com/documentation/mailchimp/guides/error-glossary/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":"419e495e-3be5-45aa-8a6a-952116f288ed"}'
  recorded_at: Tue, 07 May 2019 14:15:52 GMT
- request:
    method: get
    uri: https://us16.api.mailchimp.com/3.0/ecommerce/stores/test_store_1/orders/mc_1234
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YQo=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us16.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Orders/Instance.json>;
[...]
- request:
    method: delete
    uri: https://us16.api.mailchimp.com/3.0/ecommerce/stores/test_store_1/products/mc_p_12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YQo=
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 07 May 2019 14:15:53 GMT
[...]
- request:
    method: delete
    uri: https://us16.api.mailchimp.com/3.0/ecommerce/stores/test_store_1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YQo=
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 07 May 2019 14:15:53 GMT
recorded_with: VCR 2.9.3
