---
http_interactions:
- request:
    method: post
    uri: https://us16.api.mailchimp.com/3.0/ecommerce/stores
    body:
      encoding: UTF-8
      string: '{"id":"test_store_1","list_id":"fcd2925136","name":"test_store_1","email_address":"jyucis@weblinc.com","currency_code":"USD"}'
    headers:
      Authorization:
      - Basic Yzg5NTgzYzJiMjM4ZDdhYWE2ZGYzZTQzMDdiYjY4YzEtdXMxNg==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us16.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Instance.json>;
        rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"id":"test_store_1","list_id":"fcd2925136","name":"test_store_1","platform":"","domain":"","is_syncing":false,"email_address":"jyucis@weblinc.com","currency_code":"USD","money_format":"","primary_locale":"","timezone":"","phone":"","address":{"address1":"","address2":"","city":"","province":"","province_code":"","postal_code":"","country":"","country_code":"","longitude":0,"latitude":0},"connected_site":{"site_foreign_id":"test_store_1","site_script":{"url":"https://chimpstatic.com/mcjs-connected/js/users/c40efe870eb1bc94745f06b1b/44c73a419da4587aa7b6ce908.js","fragment":"<script
        id=\"mcjs\">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,\"script\",\"https://chimpstatic.com/mcjs-connected/js/users/c40efe870eb1bc94745f06b1b/44c73a419da4587aa7b6ce908.js\");</script>"}},"automations":{"abandoned_cart":{"is_supported":true},"abandoned_browse":{"is_supported":false}},"list_is_active":true,"created_at":"2019-05-07T14:15:54+00:00","updated_at":"2019-05-07T14:15:54+00:00","_links":[{"rel":"self","href":"https://us16.api.mailchimp.com/3.0/ecommerce/stores/test_store_1","method":"GET","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Response.json"},{"rel":"parent","href":"https://us16.api.mailchimp.com/3.0/ecommerce/stores","method":"GET","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/CollectionResponse.json"},{"rel":"update","href":"https://us16.api.mailchimp.com/3.0/ecommerce/stores/test_store_1","method":"PATCH","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Response.json","schema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/PATCH.json"},{"rel":"delete","href":"https://us16.api.mailchimp.com/3.0/ecommerce/stores/test_store_1","method":"DELETE"},{"rel":"customers","href":"https://us16.api.mailchimp.com/3.0/ecommerce/stores/test_store_1/customers","method":"GET","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Customers/CollectionResponse.json"},{"rel":"products","href":"https://us16.api.mailchimp.com/3.0/ecommerce/stores/test_store_1/products","method":"GET","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/CollectionResponse.json"},{"rel":"promo-rules","href":"https://us16.api.mailchimp.com/3.0/ecommerce/stores/test_store_1/promo-rules","method":"GET","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Promorules/CollectionResponse.json"},{"rel":"orders","href":"https://us16.api.mailchimp.com/3.0/ecommerce/stores/test_store_1/orders","method":"GET","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Orders/CollectionResponse.json"},{"rel":"carts","href":"https://us16.api.mailchimp.com/3.0/ecommerce/stores/test_store_1/carts","method":"GET","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Carts/CollectionResponse.json"}]}'
  recorded_at: Tue, 07 May 2019 14:15:54 GMT
- request:
    method: post
    uri: https://us16.api.mailchimp.com/3.0/ecommerce/stores/test_store_1/products
    body:
      encoding: UTF-8
      string: '{"id":"mc_p_12345","title":"MC Integration Product","handle":"mc-integration-product","url":"http://www.example.com/products/mc-integration-product","description":"","image_url":"www.example.com/product_images/placeholder/small_thumb.jpg?c=1557238540","variants":[{"id":"SKU1","title":"SKU1","sku":"SKU1","price":"5.0","inventory_quantity":2,"visibility":"true"},{"id":"SKU2","title":"SKU2","sku":"SKU2","price":"6.0","inventory_quantity":99999,"visibility":"true"}]}'
    headers:
      Authorization:
      - Basic Yzg5NTgzYzJiMjM4ZDdhYWE2ZGYzZTQzMDdiYjY4YzEtdXMxNg==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us16.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Instance.json>;
        rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"id":"mc_p_12345","title":"MC Integration Product","handle":"mc-integration-product","url":"http://www.example.com/products/mc-integration-product","description":"","type":"","vendor":"","image_url":"www.example.com/product_images/placeholder/small_thumb.jpg?c=1557238540","variants":[{"id":"SKU1","title":"SKU1","url":"","sku":"SKU1","price":5,"inventory_quantity":2,"image_url":"","backorders":"","visibility":"true","created_at":"2019-05-07T14:15:55+00:00","updated_at":"2019-05-07T14:15:55+00:00","_links":[{"rel":"self","href":"https://us16.api.mailchimp.com/3.0/ecommerce/stores/test_store_1/products/mc_p_12345/variants/SKU1","method":"GET","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/Response.json"},{"rel":"parent","href":"https://us16.api.mailchimp.com/3.0/ecommerce/stores/test_store_1/products/mc_p_12345","method":"GET","t[...]
- request:
    method: get
    uri: https://us16.api.mailchimp.com/3.0/ecommerce/stores/test_store_1/products/mc_p_12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Yzg5NTgzYzJiMjM4ZDdhYWE2ZGYzZTQzMDdiYjY4YzEtdXMxNg==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us16.api.mailchimp.co[...]
[...]
- request:
    method: delete
    uri: https://us16.api.mailchimp.com/3.0/ecommerce/stores/test_store_1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Yzg5NTgzYzJiMjM4ZDdhYWE2ZGYzZTQzMDdiYjY4YzEtdXMxNg==
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 07 May 2019 14:15:56 GMT
recorded_with: VCR 2.9.3
