---
http_interactions:
- request:
    method: get
    uri: https://us16.api.mailchimp.com/3.0/lists/fcd2925136/interest-categories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YQo=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us16.api.mailchimp.com/schema/3.0/Lists/InterestCategories/Collection.json>;
        rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"list_id":"fcd2925136","categories":[{"list_id":"fcd2925136","id":"443f5598e4","title":"Email
        Interests","display_order":0,"type":"checkboxes","_links":[{"rel":"self","href":"https://us16.api.mailchimp.com/3.0/lists/fcd2925136/interest-categories/443f5598e4","method":"GET","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Lists/InterestCategories/Response.json"},{"rel":"parent","href":"https://us16.api.mailchimp.com/3.0/lists/fcd2925136/interest-categories","method":"GET","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Lists/InterestCategories/CollectionResponse.json","schema":"https://us16.api.mailchimp.com/schema/3.0/CollectionLinks/Lists/InterestCategories.json"},{"rel":"update","href":"https://us16.api.mailchimp.com/3.0/lists/fcd2925136/interest-categories/443f5598e4","method":"PATCH","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Lists/InterestCategories/Response.json","schema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Lists/InterestCategories/PATCH.json"},{"rel":"delete","href":"https://us16.api.mailchimp.com/3.0/lists/fcd2925136/interest-categories/443f5598e4","method":"DELETE"},{"rel":"interests","href":"https://us16.api.mailchimp.com/3.0/lists/fcd2925136/interest-categories/443f5598e4/interests","method":"GET","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Lists/Interests/CollectionResponse.json","schema":"https://us16.api.mailchimp.com/schema/3.0/CollectionLinks/Lists/Interests.json"}]}],"total_items":1,"_links":[{"rel":"self","href":"https://us16.api.mailchimp.com/3.0/lists/fcd2925136/interest-categories","method":"GET","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Lists/InterestCategories/CollectionResponse.json","schema":"https://us16.api.mailchimp.com/schema/3.0/CollectionLinks/Lists/InterestCategories.json"},{"rel":"parent","href":"https://us16.api.mailchimp.com/3.0/lists/fcd2925136/","method":"GET","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Lists/Response.json"},{"rel":"create","href":"https://us16.api.mailchimp.com/3.0/lists/fcd2925136/interest-categories","method":"POST","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Lists/InterestCategories/Response.json","schema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Lists/InterestCategories/POST.json"}]}'
  recorded_at: Tue, 07 May 2019 14:03:10 GMT
- request:
    method: get
    uri: https://us16.api.mailchimp.com/3.0/lists/fcd2925136/interest-categories/443f5598e4/interests
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YQo=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us16.api.mailchimp.com/schema/3.0/Lists/Interests/Collection.json>;
        rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"interests":[{"category_id":"443f5598e4","list_id":"fcd2925136","id":"7ca6cc1d86","name":"Specials
        and Promotions","subscriber_count":"27","display_order":1,"_links":[{"rel":"self","href":"https://us16.api.mailchimp.com/3.0/lists/fcd2925136/interest-categories/443f5598e4/interests/7ca6cc1d86","method":"GET","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Lists/Interests/Response.json"},{"rel":"parent","href":"https://us16.api.mailchimp.com/3.0/lists/fcd2925136/interest-categories/443f5598e4/interests","method":"GET","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Lists/Interests/Coll[...]
[...]
- request:
    method: put
    uri: https://us16.api.mailchimp.com/3.0/lists/fcd2925136/members/dd91233a594a5ec6d4fe506f195e4c79
    body:
      encoding: UTF-8
      string: '{"email_address":"jyucis-mailchimp@workarea.com","id":"fcd2925136","double_optin":false,"send_welcome":true,"replace_interests":true,"update_existing":true,"email_type":"html","merge_fields":{},"interests":{"7ca6cc1d86":true,"8911545594":true,"542a7ec7bb":true,"6908d70674":true},"status":"subscribed"}'
    headers:
      Authorization:
      - Basic YQo=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us16.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json>; rel="describedBy",
        <https://us16.admin.mailchimp.com/lists/members/view?id=94302989>; rel="dashboard"
    body:
      encoding: UTF-8
      string: '{"id":"dd91233a594a5ec6d4fe506f195e4c79","email_address":"jyucis-mailchimp@workarea.com","unique_email_id":"76ced5dd79","email_type":"html","status":"subscribed","merge_fields":{"FNAME":"","LNAME":"","BIRTHDAY":""},"interests":{"7ca6cc1d86":true,"8911545594":true,"542a7ec7bb":true,"6908d70674":true},"stats":{"avg_open_rate":0,"avg_click_rate":0,"ecommerce_data":{"total_revenue":0,"number_of_orders":0,"currency_code":"USD"}},"ip_signup":"","timestamp_signup":"","ip_opt":"173.161.162.1","timestamp_opt":"2018-11-16T15:59:30+00:00","member_rating":2,"last_changed":"2019-05-07T14:02:19+00:00","language":"","vip":false,"email_client":"","location":{"latitude":0,"longitude":0,"gmtoff":0,"dstoff":0,"country_code":"","timezone":""},"source":"API
        - Generic","tags_count":0,"tags":[],"list_id":"fcd2925136","_links":[{"rel":"self","href":"https://us16.api.mailchimp.com/3.0/lists/fcd2925136/members/dd91233a594a5ec6d4fe506f195e4c79","method":"GET","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json"},{"rel":"parent","href":"https://us16.api.mailchimp.com/3.0/lists/fcd2925136/members","method":"GET","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/CollectionResponse.json","schema":"https://us16.a[...]
