---
http_interactions:
- request:
    method: patch
    uri: https://us16.api.mailchimp.com/3.0/lists/fcd2925136/members/dd91233a594a5ec6d4fe506f195e4c79
    body:
      encoding: UTF-8
      string: '{"status":"unsubscribed"}'
    headers:
      Authorization:
      - Basic YQo=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us16.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json>; rel="describedBy",
        <https://us16.admin.mailchimp.com/lists/members/view?id=94302989>; rel="dashboard"
    body:
      encoding: UTF-8
      string: '{"id":"dd91233a594a5ec6d4fe506f195e4c79","email_address":"jyucis-mailchimp@workarea.com","unique_email_id":"76ced5dd79","email_type":"html","status":"unsubscribed","unsubscribe_reason":"N/A
        (Unsubscribed by admin)","merge_fields":{"FNAME":"","LNAME":"","BIRTHDAY":""},"interests":{"7ca6cc1d86":true,"8911545594":true,"542a7ec7bb":true,"6908d70674":true},"stats":{"avg_open_rate":0,"avg_click_rate":0,"ecommerce_data":{"total_revenue":0,"number_of_orders":0,"currency_code":"USD"}},"ip_signup":"","timestamp_signup":"","ip_opt":"173.161.162.1","timestamp_opt":"2018-11-16T15:59:30+00:00","member_rating":2,"last_changed":"2019-05-07T14:02:17+00:00","language":"","vip":false,"email_client":"","location":{"latitude":0,"longitude":0,"gmtoff":0,"dstoff":0,"country_code":"","timezone":""},"source":"API
        - Generic","tags_count":0,"tags":[],"list_id":"fcd2925136","_links":[{"rel":"self","href":"https://us16.api.mailchimp.com/3.0/lists/fcd2925136/members/dd91233a594a5ec6d4fe506f195e4c79","method":"GET","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json"},{"rel":"parent","href":"https://us16.api.mailchimp.com/3.0/lists/fcd2925136/members","method":"GET","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/CollectionResponse.json","schema":"https://us16.api.mailchimp.com/schema/3.0/CollectionLinks/Lists/Members.json"},{"rel":"update","href":"https://us16.api.mailchimp.com/3.0/lists/fcd2925136/members/dd91233a594a5ec6d4fe506f195e4c79","method":"PATCH","targetSchema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json","schema":"https://us16.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/PATCH.json"},{"rel":"upsert","href":"https://us16.api.mailchimp.com/3.0/lists/fcd2925136/members/dd91233a594[...]
